<div class="body">
<div class="div-content">
	<%= render 'users/list', user: @user, new_book: @new_book %>


<div class="col-xs-9">
	<h2>Book detail</h2>
		<table class="table">
		<tbody>
			<tr>
				<th>
				<%= link_to user_path(@user) do %>
							<i><%= attachment_image_tag @user, :profile_image, :fill, 60,60, format: 'jpeg', fallback: "no_image.jpg", size: '60x60' %>
								<%=@user.name%></i>
							<% end %>
						</th>
						<th>
							<%= @book.title %>
						</th>
						<th>
							<%= @book.body %>
						</th>
						<th>
							<% if @user.id == current_user.id %>
							<%= link_to "Edit", edit_book_path(@book),class: "btn btn-success" %>
							<% end %>
						</th>
						<th>
							<% if @user.id == current_user.id %>
							<%= link_to "Destroy", book_path(@book.id), method: :delete,class: "btn btn-danger" %>
							<% end %>
						</th>
					</tr>
				</tbody>
				</table>
		</div>

	</div>
</div>
</div>